<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="trip-form-content clearfix">
  <div class="field">
    <%= f.text_field :trip_name, :placeholder => 'Trip Name'%>
  </div>
  <div class="field">
    <%= f.text_field :trip_date, :placeholder => 'Trip Date' %>
  </div>
</div>

  <div class="trip-description">
    <%= f.text_area :description, :placeholder =>'Description' %>
  </div>

<div class="trip-form-content clearfix">
  <div class="field">
    <%= f.text_field :fave_memory, :placeholder => 'Fave Memory' %>
  </div>
  <div class="field">
    <%= f.text_field :photo, :placeholder => 'Photo URL' %>
  </div>
</div>
<div class="trip-form-content clearfix">
    <div class="field">
      <%= f.text_field :country_name, :placeholder => 'Country Name' %>
    </div>
    <div class="field">
    <%= f.text_field :city_name, :placeholder => 'City Name' %>
  </div>
</div>

  <div class="actions">
    <%= f.submit :id =>'submit' %>
  </div>


<% end %>
