<p id="notice"><%= notice %></p>

<div id="trip-stuff">
<h3 id="info">
  <%= @trip.trip_name %>
</h3>
<p><%= @trip.trip_date %></p>

<p>
  <strong>City:</strong>
  <%= @trip.city_name %>
</p>



<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Fave Memory:</strong>
  <%= @trip.fave_memory %>
</p>


<img width="300" height="250" src=" <%= @trip.photo %>">
</br>

<%= link_to edit_trip_path(@trip), :remote => true do %>
<i class="fa fa-pencil fa-2x"></i>
<% end %>

</div>
