  <header>
  <h2 data-id="<%= @user.id %>"><%= @user.username %></h2>
  <h3><%= @user.fave_travel_quote %></h3>
  <%= link_to session_path, id: 'logout', method: :delete do %>
  <i class="fa fa-sign-out fa-2x"></i>
  <% end %>
</header>


<div id="container" style="position: relative; width: 1400px; height: 500px;"></div>




<div id="map-key">
  <p id="small-p">Trips:</p>
 <div id="trip-key-color"></div>
  <br/>
  <p id="small-p">Wishlist Countries:</p>
  <div id="wish-key-color"></div>
</div>
<div id="new-trip-link">
<%= link_to new_trip_path, :id => 'new-trip', :remote => true do %>
  <i class="fa fa-plus fa-2x"></i>
<% end %>
<%= link_to wishlists_new_path, :id => 'add-to-wishlist', :remote => true do %>
<i class="fa fa-heart fa-2x"></i>
<% end %>
</div>
<div id="trip-data"></div>



























