<p id="notice"><%= notice %></p>

<p>
  <strong>Trip name:</strong>
  <%= @trip.trip_name %>
</p>

<p>
  <strong>Trip date:</strong>
  <%= @trip.trip_date %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trip.description %>
</p>

<p>
  <strong>Fave Memory:</strong>
  <%= @trip.fave_memory %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @trip.photo %>
</p>

<p>
  <strong>City:</strong>
  <%= @trip.city_name %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', user_trips_path(current_user) %>
