<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Continent:</strong>
  <%= @country.continent %>
</p>

  <strong>Trips:</strong>
  <% @country.trips.each do |trip| %>
  <%= trip.trip_name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
